$eseom-primary-MainBlue: #00649F;
$eseom-primary-BoxShadow: #004E7C;
$eseom-primary-darkblue: #09294A;
$eseom-core-secondary: #495873;
$eseom-primary-Bluebrixx: #130E72;
$eseom-section-bg-grey: #F5F6FC;

/* media queries */
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;
/* end media queries */

/* mixins */
@mixin sliderArrow() {
  width: 56px;
  height: 56px;

  .icon {
    width: 23.33px;
    height: 32px;
  }
}

/* end mixins */
/* font definitions */

h1 {
  font-family: "RobotoSlab", serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 0.5px;

  @media only screen and (min-width: $md) {
    font-size: 44px;
    font-weight: 900;
    line-height: 52px;
    letter-spacing: 0.5px;
  }
}

h2 {
  font-family: "RobotoSlab", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: 38px;
  letter-spacing: 0.5px;

  @media only screen and (min-width: $md) {
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0.5px;
  }
}

h3 {
  font-family: "RobotoSlab", serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: 0.5px;

  @media only screen and (min-width: $md) {
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0.5px;
  }
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

/* font definitions */

.btn-primary-arrow {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: uppercase;

  min-width: 210px;
  border-radius: 12px;
  background: $eseom-primary-MainBlue;
  box-shadow: 0 -2px 0 0 $eseom-primary-BoxShadow inset;
  color: $sw-color-buy-button-text;

  display: inline-flex;
  height: 52px;
  padding: 12px 24px 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  transition: all 0.56s ease;

  &::after {
    content: "→";
    font-size: 25px;
    transition: all 0.56s ease;
  }

  &:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), $eseom-primary-MainBlue;

    &::after {
      transform: translateX(25%);
    }
  }
}

/* BEGIN - FRONT PAGE - TOP SLIDER */
.esmc-frp-main-slider {
  .solid-ase-content-slider-control {
    @include sliderArrow();
  }

  .cms-section-default {
    padding: 0 !important;
    max-width: 100%;

    .cms-block-solid-ase-content-slider {
      .cms-element-solid-ase-content-slider {
        .solid-ase-content-slider-control-prev {
          left: 5.9% !important;
          top: 47%;
        }

        .solid-ase-content-slider-control-next {
          right: 5.9% !important;
          top: 47%;
        }
      }
    }

    .tns-outer {
      .tns-ovh {
        @media only screen and (max-width: $lg) {
          margin-bottom: 44px;
        }

        @media only screen and (min-width: $lg) {
          position: relative;
          width: 100%;
          justify-content: center;
          margin-bottom: 16px;
        }
      }

      .tns-nav {
        @media only screen and (min-width: $lg) {
          position: relative;
          bottom: 0;
          left: 0;
          justify-content: center;
          transform: unset;
        }
      }
    }

    .slide-container {
      @media only screen and (min-width: $lg) {
        flex-direction: row;
      }

      .background-media-container {
        position: relative;

        &::before {
          // content: "";
        }

        @media only screen and (min-width: $lg) {
          order: 1;
          padding-right: 7.871%;
          margin-top: auto;

        }

        img {
        }
      }

      .content-container {
        padding-right: 0%;

        @media only screen and (max-width: $lg) {
          padding-top: 0;
        }

        .content {
          width: 100%;

          @media only screen and (max-width: $lg) {
            padding-top: 0;
          }

          @media only screen and (min-width: $lg) {
            margin-top: 56.5px;
            margin-bottom: 56.5px;
            padding-right: 11%;
          }
        }
      }
    }

    .content-container {
      @media only screen and (max-width: $lg) {
        text-align: center;
      }

      @media only screen and (min-width: $lg) {
        padding-left: 12.9%;
      }

      .headline {
        color: $eseom-primary-darkblue;
        letter-spacing: 0.5px;
      }

      .small-headline, .text {
        color: $eseom-core-secondary;
        letter-spacing: 0.5px;
      }

      .btn-primary {
        @extend .btn-primary-arrow;

        &::after {
          margin-bottom: 6px;
          font-size: 24px;
        }
      }
    }
  }
}

/* END - FRONT PAGE - TOP SLIDER */

/* BEGIN - FRONT PAGE - EXCITING TOPICS SLIDER */


.esmc-frp-exciting-topics-slider {

  overflow: visible !important;

  @media only screen and (min-width: $md) {
    overflow: hidden !important;
  }

  @media only screen and (min-width: $lg) {
    overflow: visible !important;
  }

  .tns-nav {
    margin-top: 10px;
  }

  .cms-block {
    overflow: visible !important;
    @media only screen and (min-width: $md) {
      overflow: hidden !important;
    }

    @media only screen and (min-width: $lg) {
      overflow: visible !important;
    }
  }

  .cms-element-solid-ase-content-slider {
    overflow: visible;
    @media only screen and (min-width: $md) {
      overflow: hidden;
    }

    @media only screen and (min-width: $lg) {
      overflow: visible;
    }
  }

  .cms-element-solid-ase-content-slider .tns-nav {
    position: absolute;
    bottom: -35px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
  }

  .cms-element-solid-ase-content-slider.solid-ase-content-slider-controls-horizontal-inside-center-edges .content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    padding: 0;

    .btn {
      position: relative;
      font-family: "RobotoSlab", serif;
      font-size: 24px;
      font-weight: 900;
      color: #fff;
      background: transparent;
      border: none;
      box-shadow: none;
      overflow: visible;
      z-index: 10;
      display: inline-flex;
      height: 52px;
      padding: 12px 24px 12px 24px;
      justify-content: center;
      align-items: center;
      gap: 16px;
      flex-shrink: 0;
      transition: all 0.56s ease;

      &::after {
        content: "→";
        font-size: 25px;
        transition: all 0.56s ease;
      }

      &:hover {
        &::after {
          transform: translateX(25%);
        }
      }
    }

  }
}


/* END - FRONT PAGE - EXCITING TOPICS SLIDER */

/* BEGIN - FRONT PAGE - EXCITING TOPICS SLIDER */
.esmc-frp-exciting-topics-slider {

}

/* END - FRONT PAGE - EXCITING TOPICS SLIDER */

/* BEGIN - FRONT PAGE - POPULAR CATEGORIES SECTION */
.esmc-frp-popular-categories {

  color: $eseom-primary-darkblue;
  font-family: "RobotoSlab", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: 0.5px;

  background-color: $eseom-section-bg-grey;

  .cms-element-image-text {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 100px;
      height: 100px;
      background-color: white;
      border-radius: 50%;
      z-index: -1;
      @media only screen and (min-width: $md) {
        width: 120px;
        height: 120px;
      }
    }
  }

  .cms-element-image-text {
    background-color: $eseom-section-bg-grey;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
  }

  .cms-image-text-media-container {
    text-align: center;

    .cms-image-text {
      max-width: 132px;
      @media only screen and (min-width: $md) {
        max-width: 190px;
      }
    }

  }

}

/* END - FRONT PAGE - POPULAR CATEGORIES SECTION */

/* BEGIN - FRONT PAGE - TOPIC OF THE MONTH SECTION */
.esmc-frp-topic-of-month {

  h1,
  h3 {
    color: #fff;
    margin-bottom: 16px;

    @media only screen and (min-width: $md) {
      margin: 0;
    }
  }

  h3 {
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.5px;
  }

  .cms-image-text-horizontal-text-inner {
    padding: 32px 16px 12px;
    text-align: center;

    .gap-4 {
      gap: 0 !important;
    }

    @media only screen and (min-width: $md) {
      padding: 90px;
      text-align: left;

      .gap-4 {
        gap: 16px !important;
      }
    }

    p {
      font-size: 19px;
      font-style: normal;
      font-weight: 400;
      line-height: 29px;
      letter-spacing: 0.5px;
      margin-bottom: 24px;
    }
  }

  .cms-image-text-horizontal-container.d-flex.flex-column {
    flex-direction: column-reverse !important;
    @media only screen and (min-width: $md) {
      flex-direction: row !important;
    }
  }

  .cms-image-text-horizontal-element-btn-wrapper {
    justify-content: center !important;
    @media only screen and (min-width: $md) {
      justify-content: flex-start !important;
    }
  }
}

/* END - FRONT PAGE - TOPIC OF THE MONTH SECTION */
